/**
 * Feature Name: Style
 * Descriptions: 
 * Version:      1.0
 * Author:       Llama
 * Author URI:   http://dasllama.github.io
 * Licence:      GPLv3
 */

* {
	box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
	color: #333;
	font-size: 16px;
	background: #f1f1f1;
	line-height: 1.4em;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	background: #fff;
}

/** Header **/

header#main {
	color: #fff;
	background: #212121;
}

header#main h1 {
	float: left;
	margin: 0;
	font-size: 1em;
	padding: 7px 10px;
	font-weight: bold;
}

header#main h1 a {
	color: #fff;
	text-decoration: none;
}

header#main h1 a:hover,
header#main h1 a:focus,
header#main h1 a:active {
	text-decoration: underline;
}

header#main nav ul {
	margin: 0;
	padding: 0;
	float: right;
	list-style: none;
}

header#main nav ul li {
	float: left;
}

header#main nav ul li a {
	color: #fff;
	display: block;
	padding: 7px 10px;
	text-decoration: none;
}

header#main nav ul li a:hover,
header#main nav ul li a:focus,
header#main nav ul li a:active {
	background: #666;
}

header#main nav:after {
	width: 0;
	height: 0;
	clear: both;
	content: ' ';
	display: block;
}

/** Main **/

main#main {
	padding: 20px;
}

hr {
	border: 0;
	border-top: 1px solid #212121;
}

/** Forms **/

fieldset {
	width: 500px;
}

fieldset label {
	width: 150px;
	display: inline-block;
}

fieldset input[type="submit"] {
	font-size: 100%;
}

fieldset input[type="text"],
fieldset input[type="password"] {
	width: 250px;
	font-size: 100%;
}

fieldset .description {
	color: #666;
	font-size: 0.8em;
	margin-left: 155px;
	font-style: italic;
	display: inline-block;
}

/** Notes **/

div.note p {
	margin: 0;
	padding: 0;
}

div.note {
	padding: 15px;
	color: #212121;
	margin: 0 0 15px 0;
	background: #d9edf7;

	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.note.success {
	background: #dff0d8;
}

div.note.error {
	background: #f2dede;
}